.of-text{
    text-align: center;
}
.of-content {
    margin: 4rem 0;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .offers img {
    height: 10rem;
    width: 10rem;
    float: right;
  }
  .of {
    height: 180px;
    width: 450px;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(14, 101, 231, 0.808);
    border-radius: 0.5rem;
  }